.hero-section {
    position: relative;
    width: 100%;
    height: 200em;
    z-index: 4;
}

.carmodel-content {
    width: 100%;
}

.carmodel-content__list {
    margin-top: 3rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carmodel-content__text {
    position: relative;
    top: 12rem;
    font-size: 5rem;
    text-align: center;
}

.carmodel-content__item {
    margin-top: 20rem;;
    position: relative;
}

.carmodel-content__item h1{
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
}

.carmodel-content__car {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.carmodel-content__car h1 {
    font-size: 5rem;
}

.carmodel-content__car-image{
    margin-top: 6rem;
    width: 60rem;
}

.carmodel-content__car-image img{
    width: 100%;
}

.carmodel-content__car-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#carmodel__price, .book-button {
    font-size: 2.5rem;
    width: 28rem;
    padding: 1rem 0;
    text-align: center;
    border-radius: 10px;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 500;
} 

#carmodel__price span {
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
}

.book-button {
    margin-top: 2rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.carmodel-content__car-desc table {
    padding: 1px;
    border-collapse: collapse;
}

.carmodel-content__car-desc tr, 
.carmodel-content__car-desc td, 
.carmodel-content__car-desc th {
    border:1px solid black;
    font-size: medium;
    padding: 1rem 2rem;
}