
.carmodel-content {
    display: flex;
    width: 100%;
    height: 80em;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.carmodel-content__col1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.carmodel-content__col1 button {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    padding: 1.5rem 2.5rem;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    display: inline-block;
    
}

.carmodel-content__choosen {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.carmodel-content__col2 {
    position: relative;
    width: 50rem;
}

.carmodel-content__col2 img{
    margin-top: 6rem;
    width: 100%;
}

.carmodel-content__col3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#carmodel__price, .book-button {
    font-size: 2.5rem;
    width: 28rem;
    padding: 1rem 0;
    text-align: center;
    border-radius: 10px;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 500;
} 

#carmodel__price span {
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
}

.book-button {
    margin-top: 2rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

table {
    padding: 1px;
    border-collapse: collapse;
}

tr, td, th {
    border:1px solid black;
    font-size: medium;
    padding: 1rem 2rem;
}