.nav-bar {
    top: 0;
    padding: 20px 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: x-large;
}

.logo a {
    text-decoration: none;
    color: var(--white);
}

.nav-links {
    display: flex;
    justify-content: end;
    width: 50vw;
    gap: 10%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: large;
    transition: 500ms ease;
}

.nav-links a:hover{
    color: rgba(50, 41, 54, 0.625);
    transition: 500ms ease;
}

.burger-menu {
    flex-direction: column;
    gap: 4px;
    display: none;
}

.burger-menu div{
    width: 30px;
    height: 5px;
    background-color: var(--black);
    border-radius: 5px;
}

@media (max-width: 1100px) {
    .nav-links {
        display: none;     
    }

    .burger-menu {
        display: flex;
    }
}